streamlit
Pillow
matplotlib        # Ensures SafeConfigParser error is avoided
langchain      # Latest LangChain version
langchain-community # Required for updated imports like FAISS, PyMuPDFLoader
langchain-core     # Core module required by LangChain v0.2+
PyMuPDF
openai
faiss-cpu
pandas
plotly
tiktoken